<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ol class="breadcrumb breadcrumb-arrow bg-white bx-shadow">
          <li><a [routerLink]="['/dashboard']" class="home-breadcrumb"><i class="md md-home"></i></a></li>
          <!-- <li><a [routerLink]="['/submenu/communication']" class="home-breadcrumb font-14">Communication</a></li> -->
          <li><a>SMS Replies</a></li>
        </ol>
      </div>
      <div class="col-sm-12">
        <div class="card-box">

          <div class="clearfix"></div>
          <p-table #dt [columns]="selectedColumns" [value]="smsReplies" [paginator]="true" [paginatorPosition]="'top'"
            [pageLinks]="10" [rows]="noofrows" [totalRecords]="smsReplies?.length" [loading]="false"
            selectionMode="multiple" [(selection)]="selectedRowData" [metaKeySelection]="true" [resizableColumns]="true"
            columnResizeMode="expand"
            [tableStyleClass]="'table ax-table table-striped table-bordered m-b-0 border-color-e7e7e7'"
            [scrollable]="true" scrollHeight="550px">

            <ng-template pTemplate="caption">
              <div class="pull-left col-md-6 no-padding text-left d-desktop-only">
                <div class="ax-sysconfig-data-table-top ax-data-table-top-x700 col-md-6 no-padding">
                  <div class="btn-group">
                    <a class="btn btn-xs waves-effect m-l--1 btn-green-dark btn-square" (click)="exporttoExcel()">
                      <i class="md md-file-download"></i>
                    </a>
                    <a class="btn btn-cocktail btn-xs waves-effect btn-square m-l--1" id="deleteAlert"
                      (click)="deleteSMSReply()">
                      <i class="md md-remove-circle-outline"></i> Delete
                    </a>
                    <a class="btn btn-sand btn-xs waves-effect btn-square m-l--1" (click)="getAllSmsReplies()">
                      <i class="md md-loop"></i> Refresh
                    </a>
                    <a class="btn btn-blue btn-xs waves-effect btn-square m-l--1"
                      (click)="openSmsModal('CreateRespondentSms', 'Send SMS')">
                      <i class="md md-folder-open"></i> SMS
                    </a>
                    <a class="btn btn-blue btn-xs waves-effect btn-square m-l--1 hidden" #smsModel data-toggle='modal'
                      data-target='#smsModal' data-backdrop="static">
                      <i class="md md-folder-open"></i> SMS Btn
                    </a>
                  </div>
                </div>
              </div>
              <div class="pull-right col-md-6 no-padding text-right ax-primeng-table-right d-desktop-only">
                <span class="ax-table-search vertical-align-top">
                  <span class="btn btn-default btn-xs btn-square btn-default-border vertical-align-top">
                    <i class="md md-search"></i>
                  </span>
                  <input [(ngModel)]="ptablesearch" type="text" pInputText size="50" placeholder="Search"
                    (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:150px"
                    class="vertical-align-top ptable-search-input">
                  <span class="btn btn-default btn-xs btn-square btn-default-border vertical-align-top"
                    (click)="dt.filterGlobal(null, 'contains');ptablesearch = null">
                    <i class="md md-clear"></i>
                  </span>
                </span>

                <span class="m-l-1 ax-table-filter vertical-align-top">
                  <select name="noofrows" class="btn-default-border vertical-align-top" [(ngModel)]="noofrows">
                    <option value="50">50</option>
                    <option value="100">100</option>
                    <option value="200">200</option>
                    <option value="300">300</option>
                    <option value="500">500</option>
                    <option value="1000">1,000</option>
                  </select>
                </span>
                <span class="m-l-1 btn btn-default btn-xs btn-square btn-default-border vertical-align-top">
                  Total {{smsReplies?.length}} Records
                </span>
                <span class="m-l-1">
                  <p-multiSelect [options]="cols" [(ngModel)]="selectedColumns" optionLabel="header"
                    (onChange)="updateSelectedColumnsIndex()" selectedItemsLabel="Show Column" maxSelectedLabels="0"
                    [style]="{minWidth: 'auto'}" defaultLabel="Show Column" dropdownIcon='caret' [filter]="false"
                    [showToggleAll]="false" [showHeader]="false">
                  </p-multiSelect>
                </span>
              </div>
              <div class="clearfix"></div>
            </ng-template>

            <ng-template pTemplate="colgroup" let-columns>
              <colgroup>
                <col *ngFor="let col of columns" [style.width.px]="col?.width">
              </colgroup>
            </ng-template>

            <ng-template pTemplate="header" let-columns>
              <tr>
                <th *ngFor="let col of columns" pResizableColumn [style.width.px]="col?.width"
                  [style.textAlign]="col?.textAlign" [pSortableColumn]="col.sort ? col.field : ''">
                  {{col.header}}
                  <p-sortIcon *ngIf="col.sort" [field]="col.field" ariaLabel="Activate to sort"
                    ariaLabelDesc="Activate to sort in descending order"
                    ariaLabelAsc="Activate to sort in ascending order">
                  </p-sortIcon>
                </th>
              </tr>
            </ng-template>

            <ng-template pTemplate="body" let-sr let-i="rowIndex" let-columns="columns">
              <tr [pSelectableRow]="sr">
                <ng-container *ngFor="let sc of selectedColumns;">
                  <ng-container [ngSwitch]="sc.field">
                    <td [style.width.px]="sc.width" [style.textAlign]="sc.textAlign">
                      <ng-container *ngSwitchCase="'respondentIDs'">
                        <ng-container *ngIf="sr.respondentIDs">
                          <ng-container *ngFor="let id of sr.respondentIDs.split(',')">
                            <a target="_blank" [routerLink]="['/respondent', id]">{{id}}</a><br>
                          </ng-container>
                        </ng-container>
                      </ng-container>

                      <ng-container *ngSwitchCase="'respondentNames'">
                        <ng-container *ngIf="sr.respondentNames">
                          <ng-container *ngFor="let name of sr.respondentNames.split(',')">
                            {{name}}<br>
                          </ng-container>
                        </ng-container>
                      </ng-container>

                      <ng-container *ngSwitchDefault>
                        {{sr[sc.field]}}
                      </ng-container>
                    </td>
                  </ng-container>
                </ng-container>
              </tr>
            </ng-template>

            <ng-template pTemplate="emptymessage" let-columns>
              <tr>
                <td [attr.colspan]="columns.length">
                  No data available
                </td>
              </tr>
            </ng-template>
          </p-table>

        </div>
      </div>
    </div>
  </div> <!-- end container -->
</div>


<!--SMS-->
<sms-component *ngIf="smsData" [(smsData)]="smsData" [modalTitle]="smsModalTitle" (closeModal)="closeModal($event)">
</sms-component>

<button #smsModlaBtn style="visibility: hidden; height: 0" data-toggle="modal" data-target="#smsModal"
  data-backdrop="static">Open
  SMS Model
</button>