<div
  class='table-responsive no-border ax-data-table ax-data-table-no-min-height m-b-0 no-border-radius fadeIn animated'>
  <div class="ax-sysconfig-data-table-top ax-data-table-top-x700 col-md-6 no-padding">
    <div class="btn-group">
      <a class="btn btn-xs waves-effect m-l--1 btn-green-dark btn-square" (click)="exporttoExcel()">
        <i class="md md-file-download"></i>
      </a>
      <a class="btn btn-ocean btn-xs waves-effect btn-square" data-target="#add-new-session-modal" data-toggle="modal"
        (click)="addNew()" data-backdrop="static">
        <i class="md md-add-circle-outline"></i> New
      </a>
      <a class="btn btn-cocktail btn-xs waves-effect btn-square m-l--1" id="deleteAlert" (click)="deleteDurations()">
        <i class="md md-remove-circle-outline"></i> Delete
      </a>
    </div>
  </div>

  <table class="table ax-table table-striped table-bordered m-b-0">
    <thead class="ax-bg-e7e7e7">
      <tr>
        <th class="ax-width-30-imp">

        </th>
        <th>Duration</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let st of durations; let i=index">
        <td>
          <span class="checkbox checkbox-primary ax-table-checkbox">
            <input type="checkbox" [(ngModel)]="selected[i]" name="{{st?.id}}" value="{{st?.id}}"
              (change)="updateDeleteList(st.id, $event)">
            <label></label>
          </span>
        </td>
        <td>
          <a data-target="#add-new-session-modal" data-toggle="modal" class="ax-cursor-pointer" data-backdrop="static"
            (click)="editSessionTime(st.id)">{{st?.durations}} hr</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--ADD NEW SESSION MODAL-->
<div id="add-new-session-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="full-width-modalLabel"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header no-border ax-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">
          <ng-container *ngIf="duration.id">Edit Session Duration</ng-container>
          <ng-container *ngIf="!duration.id">Add Session Duration</ng-container>
        </h4>
      </div>
      <div class="modal-body no-padding" #container>
        <div class="col-md-12 no-padding">
          <form class="ax-form" role="form" id="noteform" #sessionDurationForm="ngForm">
            <div class="form-group col-md-12 no-padding required">
              <label class="control-label w-100-pre" for="email">
                Duration
                <span [hidden]="grouptimemodal.valid || !isSubmitForm">
                  <span class="text-danger pull-right" [hidden]="!grouptimemodal.hasError('required')">Required</span>
                </span>
              </label>
              <!-- <input type="text" class="form-control" name="grouptime" ngui-datetime-picker time-only="true"
                date-format="hh:mm" [(ngModel)]="duration.durations" #grouptimemodal="ngModel" required> -->
              <kendo-timepicker name="grouptime" [(ngModel)]="duration.durations" #grouptimemodal="ngModel" required
                [popupSettings]="{ appendTo: containerRef }" class="w-100-pre"></kendo-timepicker>
            </div>

            <div class="col-md-12 no-padding text-right">
              <a id="notebtn" (click)="submitSessionTime(sessionDurationForm)"
                class="btn btn-ocean waves-effect waves-light m-l-10 btn-md">
                Save
              </a>
              <a data-dismiss="modal" aria-hidden="true" class="btn btn-cocktail m-l-5" #closeAddNewModal>Cancel</a>
            </div>
          </form>
        </div>
        <div class="clearfix"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
