<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ol class="breadcrumb breadcrumb-arrow bg-white bx-shadow">
          <li><a [routerLink]="['/dashboard']" class="home-breadcrumb"><i class="md md-home"></i></a></li>
          <li *ngIf="isUpdateJob"><a [routerLink]="['/client']" class="home-breadcrumb font-14">Client</a></li>
          <li *ngIf="isUpdateJob && job?.clientId"><a [routerLink]="['/client/edit', job.clientId]" class="home-breadcrumb font-14">{{job?.clientName}}</a></li>
          <li *ngIf="isUpdateJob && job?.clientId"><a [routerLink]="['/client/edit', job.clientId, 'clientjob']" class="home-breadcrumb font-14">Jobs</a></li>
          <li><a>
              <ng-container *ngIf="!isUpdateJob">New Job</ng-container>
              <ng-container *ngIf="isUpdateJob">{{job?.jobBreadcrumbDetails}}</ng-container>
            </a>
          </li>
        </ol>
      </div>
      <div class="col-sm-12">
        <div class="card-box">
          <div class="btn btn-group jobs-top-btn-p">
            <button [disabled]="!editJobId" class="btn btn-sand btn-xs btn-square waves-effect waves-light"
              data-target="#download-doc-modal" data-toggle="modal" data-backdrop="static">
              <i class="md md-content-paste"></i> Documents
            </button>
            <button class="btn btn-blue btn-xs btn-square waves-effect waves-light" data-dismiss="modal"
              aria-hidden="true" (click)="generateEmailData('CreateRVRDocumentEmailForJob', 'Send RVR Document')">
              <i class="md md-email"></i> Email RVR Document</button>
            <button [disabled]="!editJobId" class="btn btn-green btn-xs btn-square waves-effect waves-light d-desktop-only"
              id="starttrackingbtn" (click)="startTracking()">
              <i class="md md-play-circle-outline"></i> Start Tracking
            </button>
            <button [disabled]="!editJobId" *ngIf="survey"
              class="btn btn-skyblue btn-xs btn-square waves-effect waves-light d-desktop-only"
              [routerLink]="['/managesurvey', editJobId, survey.id]">
              <i class="md md-folder"></i> Manage Survey
            </button>
            <button [disabled]="!editJobId" *ngIf="!survey"
              class="btn btn-skyblue btn-xs btn-square waves-effect waves-light d-desktop-only"
              [routerLink]="['/managesurvey', editJobId]">
              <i class="md md-folder"></i>
              <ng-container *ngIf="!survey"> Create Survey</ng-container>
            </button>
            <button [disabled]="!editJobId" *ngIf="screener"
              class="btn btn-purple btn-xs btn-square waves-effect waves-light d-desktop-only"
              [routerLink]="['/managescreener', editJobId, screener.id]">
              <i class="md md-folder"></i> Manage Screener
            </button>
            <button [disabled]="!editJobId" *ngIf="!screener"
              class="btn btn-purple btn-xs btn-square waves-effect waves-light d-desktop-only" data-target="#copySurvey"
              data-toggle="modal" data-backdrop="static">
              <i class="md md-folder"></i>
              <ng-container *ngIf="!screener"> Create Screener</ng-container>
            </button>
          </div>
          <ul class="nav nav-tabs navtab-custom ax-nav-tabs">
            <li [class.active]="selectedTab == 'jobedit'">
              <a href="#details" data-toggle="tab" aria-expanded="false" (click)="selectedTab = 'jobedit'">
                <span class="hidden-xs1">Details</span>
              </a>
            </li>

            <li [class.active]="selectedTab == 'jobcontact'" [class.disable]="!editJobId">
              <a (click)="editJobId && selectedTab = 'jobcontact'">
                <span class="hidden-xs1">Contacts</span>
              </a>
            </li>

            <li [class.active]="selectedTab == 'jobinvoice'" [class.disable]="!editJobId" *ngIf="hasInvoicePermission" class="d-desktop-only">
              <a (click)="editJobId && selectedTab = 'jobinvoice'">
                <span class="hidden-xs1">Invoice</span>
              </a>
            </li>
            <li [class.active]="selectedTab == 'jobvenue'" [class.disable]="!editJobId">
              <a (click)="editJobId && selectedTab = 'jobvenue'">
                <span class="hidden-xs1">Venue</span>
              </a>
            </li>
            <!--              <li class="">-->
            <!--                <a href="#dates" data-toggle="tab" aria-expanded="false" (click)="selectedTab = 'jobdate'">-->
            <!--                  <span class="hidden-xs1">Dates</span>-->
            <!--                </a>-->
            <!--              </li>-->

            <!-- <li [class.active]="selectedTab == 'jobduration'" [class.disable]="!editJobId">
              <a (click)="editJobId && selectedTab = 'jobduration'">
                <span class="hidden-xs1">Duration</span>
              </a>
            </li> -->

            <li [class.active]="selectedTab == 'jobsession'" [class.disable]="!editJobId">
              <a (click)="editJobId && selectedTab = 'jobsession'">
                <span class="hidden-xs1">Sessions</span>
              </a>
            </li>
            <li [class.active]="selectedTab == 'jobinvitationemail'" [class.disable]="!editJobId" class="d-desktop-only">
              <a (click)="editJobId && selectedTab = 'jobinvitationemail'">
                <span class="hidden-xs1">Invitation Email</span>
              </a>
            </li>
            <li [class.active]="selectedTab == 'jobincentive'" [class.disable]="!editJobId"
              *ngIf="hasIncentivePermission">
              <a (click)="editJobId && selectedTab = 'jobincentive'">
                <span class="hidden-xs1">Incentives</span>
              </a>
            </li>
            <li [class.active]="selectedTab == 'jobqueries'" [class.disable]="!editJobId" class="d-desktop-only">
              <a (click)="editJobId && selectedTab = 'jobqueries'">
                <span class="hidden-xs1">Queries </span>
              </a>
            </li>
            <li [class.active]="selectedTab == 'jobquota'" [class.disable]="!editJobId" class="d-desktop-only">
              <a (click)="editJobId && selectedTab = 'jobquota'">
                <span class="hidden-xs1">Quotas</span>
              </a>
            </li>
            <li [class.active]="selectedTab == 'jobtimeallocation'" [class.disable]="!editJobId" class="d-desktop-only">
              <a (click)="editJobId && selectedTab = 'jobtimeallocation'">
                <span class="hidden-xs1">Time Allocation</span>
              </a>
            </li>
            <li [class.active]="selectedTab == 'jobdocument'" [class.disable]="!editJobId">
              <a (click)="editJobId && selectedTab = 'jobdocument'">
                <span class="hidden-xs1">Documents</span>
              </a>
            </li>
            <li [class.active]="selectedTab == 'jobstandbyrespondent'" [class.disable]="!editJobId" class="d-desktop-only">
              <a (click)="editJobId && selectedTab = 'jobstandbyrespondent'">
                <span class="hidden-xs1">Standby Respondents</span>
              </a>
            </li>
            <li [class.active]="selectedTab == 'jobpotentialrespondent'" [class.disable]="!editJobId" class="d-desktop-only">
              <a (click)="editJobId && selectedTab = 'jobpotentialrespondent'">
                <span class="hidden-xs1">Potential Respondents</span>
              </a>
            </li>
            <li [class.active]="selectedTab == 'joballrespondent'" [class.disable]="!editJobId" class="d-desktop-only">
              <a (click)="editJobId && selectedTab = 'joballrespondent'">
                <span class="hidden-xs1">All Respondents</span>
              </a>
            </li>
            <li *ngIf="client?.allowPrivateList && hasPrivateListPermission" [class.active]="selectedTab == 'privatelist'" [class.disable]="!editJobId" class="d-desktop-only">
              <a (click)="editJobId && selectedTab = 'privatelist'">
                <span class="hidden-xs1">Private List</span>
              </a>
            </li>
            <!--<li [class.active]="selectedTab == 'jobschedule'" [class.disable]="!editJobId">-->
            <!--<a (click)="editJobId && selectedTab = 'jobschedule'">-->
            <!--<span class="hidden-xs1">Schedules</span>-->
            <!--</a>-->
            <!--</li>-->
          </ul>
          <div class="tab-content no-margin ax-tab-content min-height-x300">
            <div class="tab-pane active">
              <JobEditComponent [id]="editJobId" [isUpdateJob]="isUpdateJob" *ngIf="selectedTab == 'jobedit'"
                [paramsClientId]="paramsClientId"></JobEditComponent>
              <JobContactComponent [id]="editJobId" [isUpdateJob]="isUpdateJob" *ngIf="selectedTab == 'jobcontact'">
              </JobContactComponent>
              <!-- <JobDateComponent [id]="editJobId" [isUpdateJob]="isUpdateJob" *ngIf="selectedTab == 'jobdate'">
              </JobDateComponent> -->
              <JobSessionComponent [id]="editJobId" [isUpdateJob]="isUpdateJob" *ngIf="selectedTab == 'jobsession'">
              </JobSessionComponent>
              <JobIncentiveComponent [id]="editJobId" [isUpdateJob]="isUpdateJob" *ngIf="selectedTab == 'jobincentive'">
              </JobIncentiveComponent>
              <JobQuotaComponent [id]="editJobId" [isUpdateJob]="isUpdateJob" *ngIf="selectedTab == 'jobquota'">
              </JobQuotaComponent>
              <JobTimeAllocationComponent [id]="editJobId" [isUpdateJob]="isUpdateJob"
                *ngIf="selectedTab == 'jobtimeallocation'"></JobTimeAllocationComponent>
              <JobDocumentComponent [id]="editJobId" [isUpdateJob]="isUpdateJob" *ngIf="selectedTab == 'jobdocument'">
              </JobDocumentComponent>
              <JobPotentialComponent [id]="editJobId" [isUpdateJob]="isUpdateJob" *ngIf="selectedTab == 'jobpotentialrespondent'">
              </JobPotentialComponent>
              <JobStandbyRespondentComponent [id]="editJobId" [isUpdateJob]="isUpdateJob"
                *ngIf="selectedTab == 'jobstandbyrespondent'"></JobStandbyRespondentComponent>
              <JobAllRespondentComponent [id]="editJobId" [isUpdateJob]="isUpdateJob"
                *ngIf="selectedTab == 'joballrespondent'"></JobAllRespondentComponent>
              <JobInvoiceComponent [id]="editJobId" [isUpdateJob]="isUpdateJob" *ngIf="selectedTab == 'jobinvoice'">
              </JobInvoiceComponent>
              <!-- <JobScheduleComponent [id]="editJobId" [isUpdateJob]="isUpdateJob" *ngIf="selectedTab == 'jobschedule'">
              </JobScheduleComponent> -->
              <JobInvitationEmailComponent [id]="editJobId" [isUpdateJob]="isUpdateJob"
                *ngIf="selectedTab == 'jobinvitationemail'"></JobInvitationEmailComponent>
              <JobDurationComponent [id]="editJobId" [isUpdateJob]="isUpdateJob" *ngIf="selectedTab == 'jobduration'">
              </JobDurationComponent>
              <JobVenueComponent [id]="editJobId" [isUpdateJob]="isUpdateJob" *ngIf="selectedTab == 'jobvenue'">
              </JobVenueComponent>
              <JobQueriesComponent [id]="editJobId" [isUpdateJob]="isUpdateJob" *ngIf="selectedTab == 'jobqueries'">
              </JobQueriesComponent>
              <JobPrivateListComponent [id]="editJobId" [isUpdateJob]="isUpdateJob" *ngIf="selectedTab == 'privatelist'">
              </JobPrivateListComponent>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Manage Screener Model-->
<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true" style="display: none;" id="copySurvey">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header no-border ax-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Copy Survey to Screener</h4>
      </div>
      <div class="modal-body no-padding">
        <div class="form-group required">
          <label class="control-label w-100-pre">
            Select
            <span [hidden]="surveysdropdown.valid || !isSubmitCopySurveyForm">
              <span class="text-danger pull-right">Required</span>
            </span>
          </label>
          <select class="form-control" #surveysdropdown required>
            <option value="" disabled></option>
            <option *ngFor="let sr of surveys;let i = index;" [value]="sr.id">{{sr.title}}</option>
          </select>
        </div>
        <div class="text-right">
          <a (click)="copySurvey(surveysdropdown.value)" class="btn btn-success">Copy</a>
          <a data-dismiss="modal" aria-hidden="true" class="btn btn-cocktail m-l-5" #closeAddNewModal>Cancel</a>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--ADD Download Documents MODAL-->
<div id="download-doc-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="full-width-modalLabel"
  aria-hidden="true" style="display: none;">
  <div class="modal-dialog modal-md" style="width: 320px">
    <div class="modal-content">
      <div class="modal-header no-border ax-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">Documents</h4>
      </div>
      <div class="modal-body no-padding">
        <div class="col-md-12 no-padding">
          <a class="btn btn-ocean btn-block btn-square m-b-10"
            href="{{apihost}}/api/job-summary-document/{{editJobId}}/?token={{token}}">Download Job Summary Document
          </a>
          <a class="btn btn-ocean btn-block btn-square m-b-10"
            href="{{apihost}}/api/job-incentive-document/{{editJobId}}/?token={{token}}">Download Incentives Document
          </a>
          <a class="btn btn-ocean btn-block btn-square m-b-0"
            href="{{apihost}}/api/job-quote-document/{{editJobId}}/?token={{token}}">Download Quote Document
          </a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<!--EMAIL-->
<email-component *ngIf="emailData && (emailData | json) != ({} | json)" [(emailData)]="emailData"
  [modalTitle]="emailModalTitle"></email-component>

<button #emailModlaBtn style="visibility: hidden; height: 0" data-toggle="modal" data-target="#emailModal"
  data-backdrop="static">Open Email Model
</button>
