<div class="col-md-6">
  <div class="panel panel-primary ax-panel-purple" data-initial-index="1">
    <div class="panel-heading">
      <div class="panel-title">
        <h4>Total Sales</h4>
      </div>
    </div>
    <div class="panel-body">
      <div *ngIf="isBrowser" style="display: block; height: 200px;">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
      </div>
    </div>
  </div>
</div>

<div class="col-md-6">
    <div class="panel panel-primary ax-panel-pink" data-initial-index="1">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>Total Jobs</h4>
        </div>
      </div>
      <div class="panel-body">
        <div *ngIf="isBrowser" style="display: block; height: 200px;">
          <canvas baseChart [datasets]="lineChartData1" [labels]="lineChartLabels" [options]="lineChartOptions"
            [colors]="lineChartColors1" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div>
</div>
  