<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true" id="smsModal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header no-border ax-modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
          (click)="resetSmsData();closeModal.emit(true);gotoRedirectUrl()">×</button>
        <h4 class="modal-title">{{modalTitle}}</h4>
      </div>
      <div class="modal-body no-padding">
        <form class="ax-form" *ngIf="!showSmsSuccessMsg && smsData != null" #smsForm="ngForm">
          <div *ngIf="jobData" class="save-query-btn btn-group btn-group-justified m-b-10">
            <a *ngIf="jobData?.exJob?.id" class="btn btn-default waves-effect waves-light"
              [class.btn-primary]="jobData?.exJob?.id == smsData?.jobId" role="button"
              (click)="smsData.jobId = jobData.exJob.id">{{jobData?.exJob?.jobNumberAndName}}</a>

            <a *ngIf="jobData?.trJob?.id" class="btn btn-default waves-effect waves-light"
              [class.btn-primary]="jobData?.trJob?.id == smsData?.jobId" role="button"
              (click)="smsData.jobId = jobData.trJob.id">{{jobData?.trJob?.jobNumberAndName}}</a>
          </div>
          <div class="form-group">
            <label class="control-label ax-color-black w-100-pre">
              Mobile Numbers
              <span class="pull-right font-normal font-12">
                {{smsData?.recipientsList?.length}} Recipients
              </span>
            </label>
            <!--<input type="text" class="form-control">-->
            <tag-input [(ngModel)]='smsData.recipientsList' name="mobilenumber" theme='bootstrap' [placeholder]="''"
              class="sendmobile-input inbox-widget" style="max-height:80px;height: auto" [secondaryPlaceholder]="''"
              [separatorKeyCodes]="[9, 188]" required></tag-input>
          </div>
          <div class="form-group">
            <label class="control-label ax-color-black">Subject</label>
            <input type="text" class="form-control" [(ngModel)]="smsData.subject" name="subject">
          </div>
          <!--<div class="form-group">-->
          <!--<label class="control-label ax-color-black">Provider</label>-->
          <!--<select class="form-control" [(ngModel)]="smsData.provider" name="provider">-->
          <!--<option value=""></option>-->
          <!--<option value="">Provider 1</option>-->
          <!--<option value="">Provider 2</option>-->
          <!--</select>-->
          <!--</div>-->
          <div class="form-group">
            <label class="control-label ax-color-black w-100-pre">
              Message
              <span class="pull-right font-normal font-12">
                <span id="count" class="text-right">{{checkStringLength(smsData?.body)}}</span> of 600 characters
              </span>
            </label>
            <textarea rows="3" class="form-control" id="message" [(ngModel)]="smsData.body" name="message"></textarea>
          </div>
          <div class="col-md-12 no-padding m-b-0">
            <div class="pull-left">
              <div class="form-group m-b-0">
                <label for="checkbox1" class="control-label ax-color-black pull-left m-b-0">
                  Add to Electronic Documents
                </label>
                <div class="checkbox checkbox-primary" style="margin-left: 190px;margin-bottom:0px">
                  <input id="checkbox1" type="checkbox" checked [(ngModel)]="smsData.addToElectronicDocuments"
                    name="isElectronicDoc">
                  <label for="checkbox1" class="control-label ax-color-black">
                  </label>
                </div>
              </div>
            </div>
            <div class="pull-right">
              <a class="btn btn-ocean waves-effect waves-light btn-md" (click)="sendSms(smsForm)">
                Send SMS
              </a>
              <a data-dismiss="modal" aria-hidden="true" class="btn btn-cocktail m-l-5"
                (click)="gotoRedirectUrl()">Cancel</a>
            </div>
          </div>
          <div class="clearfix"></div>
        </form>
        <ng-container *ngIf="showSmsSuccessMsg">
          <h3 class="text-center text-success no-margin">SMS Sent Successfully.</h3>
        </ng-container>
      </div>
    </div>
  </div>
</div>