.switch {
  position: relative;
  display: inline-block;
  width: 132px;
  height: 28px;
  margin: 0;
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f24c4e;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 4px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 4px;
}

input:checked+.slider {
  background-color: #1fb58f;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(104px);
  -ms-transform: translateX(104px);
  transform: translateX(104px);
}

/*------ ADDED CSS ---------*/
.slider:after {
  content: 'Clocked Out';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  font-size: 12px;  
  font-weight: normal;
}

input:checked+.slider:after {
  content: 'Clocked In';
}

/*--------- END --------*/

input:disabled+.slider {
  opacity: 0.5;
}

.btn[disabled] {
  opacity: 1;
}

.btn-grey {
  background: #d5d5d5;
}

.bg-ocean {
  color: #1fb58f;
}

.bg-cocktail {
  color: #f24c4e;
}