<div class="tab-pane" id="vehicledetails">
  <!-- <ng-container *ngIf="!isMyProfile">
    <div class="newres-tab-title">
      <h5 class="no-margin">Finance Details</h5>
    </div>
    <br>
  </ng-container> -->

  <div *ngIf="!isMyProfile" class="col-md-12 no-padding m-b-0 newres-bottom">
    <div class="col-md-6 font-10 no-padding">
      <h5 class="no-margin p-l-10" style="line-height: 34px">Finance Details</h5>
    </div>
    <div class="col-md-6 text-right no-padding">
      <button (click)="updateSubmit()" class="btn waves-effect waves-light btn-md" [class.btn-ocean]="!isMyProfile"
        [class.btn-basil]="isMyProfile">
        Submit
      </button>
    </div>
  </div>
  <div class="clearfix"></div>
  <br>
  <ng-container *ngIf="!isLoading && respondent != null">
    <div class="col-md-4 no-padding-left">
      <div class="form-group">
        <label class="control-label">Main Bank</label>
        <select class="form-control" name="mainbank" id="mainbank" [(ngModel)]="respondent.mainBankId"
          style="width:80%;">
          <option *ngFor="let bl of banksList" [value]="bl.id">{{bl.description}}</option>
        </select>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <label class="control-label panel-member-heading-label">Banks</label>
        <ng-container *ngFor="let ba of banksList; let i = index">
          <div class="checkbox checkbox-primary pull-left res-check-margin w-100-pre">
            <input type="checkbox" name="banks{{i}}" id="banks{{i}}" [(ngModel)]="ba.selected" value="true">
            <label class="control-label" for="banks{{i}}">{{ba.description}}</label>
          </div>
        </ng-container>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <label class="control-label panel-member-heading-label">Banking Products</label>
        <ng-container *ngFor="let ba of bankProductsList; let i = index">
          <div class="checkbox checkbox-primary pull-left res-check-margin w-100-pre">
            <input type="checkbox" name="bankingproducts{{i}}" id="bankingproducts{{i}}" [(ngModel)]="ba.selected"
              value="true">
            <label class="control-label" for="bankingproducts{{i}}">{{ba.description}}</label>
          </div>
        </ng-container>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <label class="control-label panel-member-heading-label">Payment Methods</label>
        <ng-container *ngFor="let ba of paymentMethodsList; let i = index">
          <div class="checkbox checkbox-primary pull-left res-check-margin w-100-pre">
            <input type="checkbox" name="paymentmethods{{i}}" id="paymentmethods{{i}}" [(ngModel)]="ba.selected"
              value="true">
            <label class="control-label" for="paymentmethods{{i}}">{{ba.description}}</label>
          </div>
        </ng-container>
        <div class="clearfix"></div>
      </div>

    </div>
    <div class="col-md-4 no-padding">
      <div class="form-group">
        <label class="control-label">Credit Unions</label>
        <ng-container *ngFor="let ba of creditUnionsList; let i = index">
          <div class="checkbox checkbox-primary pull-left res-check-margin w-100-pre">
            <input type="checkbox" name="creditunions{{i}}" id="creditunions{{i}}" [(ngModel)]="ba.selected"
              value="true">
            <label class="control-label" for="creditunions{{i}}">{{ba.description}}</label>
          </div>
        </ng-container>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <label class="control-label panel-member-heading-label">Investment Types</label>
        <ng-container *ngFor="let ba of investmentList; let i = index">
          <div class="checkbox checkbox-primary pull-left res-check-margin w-100-pre">
            <input type="checkbox" name="investmenttypes{{i}}" id="investmenttypes{{i}}" [(ngModel)]="ba.selected"
              value="true">
            <label class="control-label" for="investmenttypes{{i}}">{{ba.description}}</label>
          </div>
        </ng-container>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="col-md-4 no-padding-right">
      <div class="form-group">
        <label class="control-label">Superannuation Funds</label>
        <ng-container *ngFor="let ba of superannuationList; let i = index">
          <div class="checkbox checkbox-primary pull-left res-check-margin w-100-pre">
            <input type="checkbox" name="superannuationfunds{{i}}" id="superannuationfunds{{i}}"
              [(ngModel)]="ba.selected" value="true">
            <label class="control-label" for="superannuationfunds{{i}}">{{ba.description}}</label>
          </div>
        </ng-container>
        <div class="clearfix"></div>
      </div>
      <div class="form-group">
        <label class="control-label panel-member-heading-label">Secondary Income Platforms</label>
        <ng-container *ngFor="let ba of secondIncomePlatformsList; let i = index">
          <div class="checkbox checkbox-primary pull-left res-check-margin w-100-pre">
            <input type="checkbox" name="secondaryincomeplatforms{{i}}" id="secondaryincomeplatforms{{i}}"
              [(ngModel)]="ba.selected" value="true">
            <label class="control-label" for="secondaryincomeplatforms{{i}}">{{ba.description}}</label>
          </div>
        </ng-container>
        <div class="clearfix"></div>
      </div>
    </div>
  </ng-container>
  <div class="clearfix"></div>
  <div *ngIf="respondent" class="col-md-12 no-padding m-b-0 newres-bottom">
    <!-- <div class="pull-left" *ngIf="!isMyProfile">
        <button class="btn btn-cocktail waves-effect waves-light btn-md">
          Send Reset Password Link
        </button>
      </div> -->
    <div class="col-md-6 font-10 no-padding" style="line-height: 34px">
      <ng-container>
        <b>Created:</b>
        <ng-container *ngIf="respondent.dateCreated">
          {{respondent.dateCreated | date: 'dd-MM-yyyy'}} &#160;
        </ng-container>
        <ng-container *ngIf="!respondent.dateCreated">
          {{today | date: 'dd-MM-yyyy'}} &#160;
        </ng-container>
        <b>Last Updated:</b>
        <ng-container *ngIf="respondent.dateLastUpdated">
          {{respondent.dateLastUpdated | date: 'dd-MM-yyyy'}}
        </ng-container>
        <ng-container *ngIf="!respondent.dateLastUpdated">
          {{today | date: 'dd-MM-yyyy'}}
        </ng-container>
      </ng-container>
    </div>
    <div class="col-md-6 text-right no-padding">
      <button (click)="updateSubmit()" class="btn waves-effect waves-light btn-md" [class.btn-ocean]="!isMyProfile"
        [class.btn-basil]="isMyProfile">
        Submit
      </button>
      <!-- <a *ngIf="isMyProfile" class="btn btn-cocktail m-l-5" (click)="gotoTop()">Skip</a> -->
    </div>
  </div>
</div>