<div class="wrapper login-page-wrapper">
    <div class="container min-width-100vw text-center">
        <div class="row">
            <!--<div class="col-sm-2"></div>-->
            <div class="ax-login-panel signin-type">
                <div class="col-md-12">
                    <div class="card-box text-center m-b-0">
                        <img src="assets/images/fr-only-logo.png" class="ax-login-panel-logo">
                        <h3 class="text-center">Who do you want to login as?</h3>
                        <br>
                        <div class="col-md-3">
                            <a class="btn btn-ocean ax-table-x150" [routerLink]="['/dashboard']">Farron
                                <br>Staff</a>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-sand ax-table-x150" href="res-home.html">Farron
                                <br>Consumer Panel</a>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-skyblue ax-table-x150" href="#">Farron
                                <br>Business Panel</a>
                        </div>
                        <div class="col-md-3">
                            <a class="btn btn-cocktail ax-table-x150" href="cli-jobs.html">Farron
                                <br>Client</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!--<div class="col-sm-2"></div>-->
        </div>
        <br>
        <br>
        <br>
        <br>
    </div>
    <!-- end container -->
</div>
<!-- End wrapper -->